<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css'>
        <title>Stores that Carry SHOES!</title>
    </head>
    <body>
        <h1>STORES THAT HAVE SHOES</h1>
        {% if stores is not empty %}
            {% for store in stores %}
            <ul>
                <a href="/store/{{ store.getID }}"><li>{{ store.getStoreName }}</li></a>
            </ul>
            {% endfor %}
        {% endif %}

        <h3>Add New Store</h3>

         <form action='/add_store' method='post'>
             <div class='form-group'>
                 <label for='store_name'>Name:</label>
                 <input id='store_name' name='store_name' class='form-control' type='text'>
             </div>
             <button type='submit' class='btn'>Submit</button>
         </form>
         <form action="/delete_stores" method="post">
             <button type='submit' class='btn btn-danger'>NUKE IT FROM ORBIT</button>
         </form>


    </body>
</html>
